/.idea
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/bower_components/
/web/users/*
!web/users/1.jpg
!web/users/p_1.jpg
!web/users/2.jpg
!web/users/p_2.jpg
!web/users/3.jpg
!web/users/p_3.jpg
!web/users/4.jpg
!web/users/p_4.jpg
!web/users/5.jpg
!web/users/p_5.jpg
