{% spaceless %}
<div id="footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        &copy; Мини приложение для демонстрации кодирования 2017
    </div>
</div>
{% endspaceless%}